@import "./base.css";

.flex {
  display: flex;
}

.flex-none {
  flex: none;
}

.flex-1 {
  flex: 1;
}

.relative {
  position: relative;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.overflow-x-auto {
  overflow-x: auto;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.w-1 {
  width: 1rem;
}

.h-1 {
  height: 1rem;
}

.p-1 {
  padding: 1rem 1rem 1rem 0;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.font-bold {
  font-weight: 700;
}

.title {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
}

.HotItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 1rem 1rem 0;
  position: relative;
  outline: none;
}

.HotItem:not(:first-child) {
  border: solid var(--el-border-color-light);
  border-width: 0.5px 0 0;
}

.HotItem-index {
  text-align: center;
  width: 3.5rem;
}

.HotItem-hot {
  color: #ff9607 !important;
}

.HotItem-rank {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: #999;
}

.HotItem-content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
  overflow: hidden;
}

.HotItem-title {
  font-size: 1.125rem;
  line-height: 1.75rem;
  max-height: 3.5rem;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 600;
  font-synthesis: style;
}